<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enterprise.mapper.PermissionMapper">
    <select id="findMenuByRole" resultType="com.enterprise.entity.Permission">
        SELECT p.id,
               p.pid,
               p.order_num,
               p.name,
               p.type,
               p.path,
               p.icon,
               p.component,
               p.status,
               p.permission_value
        FROM l_permission as p,
             l_role_permission as rp
        where p.id = rp.permission_id
          and rp.role_id = '${roleId}'
        order by p.order_num ASC
    </select>

    <select id="findValueByAdminId" resultType="String">
        SELECT p.permission_value
        FROM l_permission as p,
             l_role_permission as rp,
             l_admin as a,
             l_admin_role as ar
        WHERE p.id = rp.permission_id
          AND rp.role_id = ar.role_id
          AND ar.admin_id = a.id
          AND a.id = '${adminId}'
    </select>
</mapper>